h2{
    font-family: sans-serif;
    background-color: azure;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
}

h3{
    font-family: sans-serif;
}