html, body {
    height: 100%;
}

header {
    float:left;
    width: 100%;
    height: 20%;
    background-color: blueviolet;
}

article {
    float:left;
    width: 70%;
    height: 60%;
    background-color: darkred;
}

aside {
    float:left;
    width: 30%;
    height: 60%;
    background-color: darkgreen;
}

footer {
    float:left;
    width: 100%;
    height: 20%;
    background-color: darkblue;
}

section {
    height: 20%;
    width: 30%;
    background-color: darkturquoise;
    margin-bottom: 15px;
}

@media screen and (max-width:1000px) and (min-width:700px) {
    html, body {
        height: 100%;
    }
    
    header {
        width: 100%;
        height: 20%;
        background-color: blueviolet;
        
    }
    
    article {
        margin-top: 15px;
        width: 100%;
        height: 60%;
        background-color: darkred;
    }
    
    aside {
        margin-left: 40px;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 90%;
        height: 15%;
        background-color: darkgreen;
        
    }

    section {
        height: 10%;
        width: 30%;
        background-color: darkturquoise;
        margin-bottom: 15px;
    }
    
    footer {
        width: 100%;
        height: 10%;
        background-color: darkblue;
    }
    
}

@media screen and (max-width: 699px) {
    html, body {
        height: 100%;
    }
    
    header {
        width: 100%;
        /* height: 100%; */
        background-color: blueviolet;
        margin-bottom: 10px;
    }
    
    article {
        width: 100%;
        height: 50%;
        background-color: darkred;
    }
    
    aside {
        margin-left: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 90%;
        height: 20%;
        background-color: darkgreen;
        
    }

    section {
        height: 10%;
        width: 80%;
        background-color: darkturquoise;
        margin-bottom: 15px;
        margin-left: 35px;
    }
    
    footer {
        width: 100%;
        height: 10%;
        background-color: darkblue;
    }
}