h1 {
   font-family: 'Segoe UI';
 }

 h2 {
  font-family: 'Segoe UI';
  color: #00A19D;
}

h1{
  font-family: 'Segoe UI';
  color: #E05D5D;
}

ul{
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
}



 